.whatgpt3 {
  display: flex;
  flex-direction: column;

  background: var(--color-footer);

  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 2rem;
}

.feature {
  display: flex;
}

.feature .features_container {
  margin: 0;
}

.feature .features_container-text {
  max-width: 700px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  margin: 4rem 0 2rem;
}

.heading h1 {
  max-width: 500px;
  font-size: 2rem;
  font-weight: 700;
}

.heading a {
  color: var(--color-subtext);
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  .heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .heading a {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .feature .features_container {
    flex-direction: column;
  }

  .feature .features_text {
    margin-top: 0.5rem;
  }

  .heading {
    margin-top: 2rem;
  }

  .heading h1 {
    font-size: 1.5rem;
    line-height: 1.1;
  }
}

@media screen and (max-width: 350px) {
  .card_container .features_container {
    margin: 1rem 0;
    min-width: 100%;
  }
}
