.possibility {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.content {
  font-family: var(--font-family);
}

.content h4 {
  font-size: 1rem;
  color: var(--color-secondary);
  font-weight: 500;
  margin-bottom: 1rem;
}

.content h2 {
  font-size: 2.2rem;
  max-width: 450px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.desc {
  font-size: 1rem;
  line-height: 2;
  color: var(--color-text);
  margin-bottom: 2rem;
  max-width: 600px;
}

.cta {
  color: var(--color-subtext);
}

@media screen and (max-width: 1050px) {
  .possibility {
    gap: 2rem;
  }
  .desc,
  .cta,
  .content h4 {
    font-size: 0.875rem;
  }
  .content h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .possibility {
    grid-template-columns: 1fr;
  }
  .content {
    text-align: center;
  }
  .content h2 {
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .content h2 {
    font-size: 1.5rem;
  }
  .content h4 {
    font-size: 0.875rem;
  }
  .desc {
    line-height: 1.5;
  }
}
